/* Estilos Globales */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Neucha', cursive;
}
/*NAV*/
.name{
    color: white;
}
.fa-brands{
    color: white;
    font-size: 30px;
    padding: 5px;
}
.fa-brands:hover{
    color: grey;
}
/*MAIN*/
.container-profile{
    border: 1px solid black;
    margin: 2px;
}
.img-main{
    border-radius: 6px 6px 0px 0px;
    height: 500px;
    width: 217vh;
}
.img-profile{
    border-radius: 50%;
    margin-top:-25vh;
    margin-left: 10vh;
    height: 400px;
    width: 400px;
    border: 2px solid grey;
}
.btn-edit {
    margin-top: -50vh;
    margin-left: 200vh;
    border: 1px solid black;
}
.data{
    border-radius: 6px 6px 6px 6px;
    border: 3px solid grey;
    margin: 6px;
}
.title{
    margin-left:110px ;
}
.edit{
    margin-left: 175vh;
    font-size: 24px;
}
.plus{
    margin-left: 176vh;
    font-size: 24px;
}
.subtitle{
    margin-left: 110px;
    color: grey;
}
a{
    text-decoration: none;
    font-size: 24px;
}
.btn-data{
    margin-left: 110px;
    margin-bottom: 4px;
}
.education{
    margin-left: 130px;
    border:1px solid black;
    border-radius: 6px;
}
.card{
    margin-left: 100px;
    border: none;
}
.card img {
    border: 1px solid black;
    border-radius: 4px;
    margin-left: 110px;
    width: 130px;
    height: 130px;
    align-items: center;
    justify-content: center;
}
.card.body{
    margin: 0;
    padding: 0;
}
.progress{
    width: 700px;
    margin-left: 30%;
    margin-bottom: 6px;
}
.skills{
    margin-left: 35%;
}
.container-fluid{
    margin-left: 110px;
}